fastapi
uvicorn
sqlalchemy
pymysql
cryptography
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pytest
pytest-asyncio
httpx
email-validator
google-genai
python-dotenv
pillow
requests